h1{
    background-color: white;
} 

.cabecalho__menu-hamburguer { 
     width: 24px;
     height: 24px;
     display: inline-block;
     background-image: url("");
     background-repeat: no-repeat;
     background-position: center;

    
}

.cabecalho{
    background-color: var(fff);
    

}